<IfModule mod_headers.c>
    Header set Cross-Origin-Embedder-Policy "require-corp"
    Header set Cross-Origin-Opener-Policy "same-origin"
</IfModule>

# apache setting for WebAssembly COOP Requirement
# https://docs.apryse.com/documentation/web/faq/wasm-threads/#configuring-your-website

# https://emscripten.org/docs/compiling/WebAssembly.html
Options Multiviews
RemoveType .gz
AddEncoding x-gzip .gz
AddType application/wasm .wasm
AddOutputFilterByType DEFLATE application/wasm

# check content type of WASM using cURL: curl -I https://*.com/index.wasm | grep "content-type"