# This is based on the Github .gitattributes templates
* text=auto

# Explicitly declare text files to normalize
*.cpp text
*.h text
*.mm text

# Files with CRLF line endings for Windows
*.sln text eol=crlf
*.vcxproj* text eol=crlf
.appveyor.yml text eol=crlf
*.bat text eol=crlf
*.props text eol=crlf
*.filters text eol=crlf

# Files with LF line endings for Unix-like systems
*.sh text eol=lf

# Binary files (no EOL normalization)
*.png binary
*.jpg binary

# Exclude .patch files in apothecary from EOL normalization
scripts/apothecary/**/*.patch -text

