[submodule "apps/projectGenerator/projectGeneratorSimple"]
	path = apps/projectGenerator/projectGeneratorSimple
	url = https://github.com/ofZach/projectGeneratorSimple.git
[submodule "addons/ofxFontStash"]
	path = addons/ofxFontStash
	url = https://github.com/armadillu/ofxFontStash.git
[submodule "addons/ofxAnimatable"]
	path = addons/ofxAnimatable
	url = https://github.com/yty/ofxAnimatable.git

