
# OF-specific ignore patterns

openFrameworks.a
openFrameworksDebug.a
openFrameworksUniversal.a

#rule to avoid non-official addons going into git
#see addons/.gitignore
addons/*

#rule to avoid non-official apps going into git
#see apps/.gitignore
apps/*

#also, see examples/.gitignore

# Some general ignore patterns

build/
obj/
*.o
Debug*/
Release*/
*.mode*
*.app/
*.pyc

# IDE-specific ignore patterns

#XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

#Code::Blocks
*.depend
*.layout

#Visual Studio
*.sdf
*.opensdf
*.suo
ipch/

#Eclipse
.metadata
local.properties
.externalToolBuilders

# OS-specific ignore patterns

#Linux
*~
# KDE
.directory

#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

#Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#Android
.csettings

# Miscellaneous
.mailmap

