<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.openframeworks.android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>


	<uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <uses-feature android:glEsVersion="0x00020000"/>

    <!-- Audio Systems -->
    <uses-feature android:name="android.hardware.audio.output" android:required="false" />
    <uses-feature android:name="android.hardware.audio.microphone" android:required="false" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <supports-screens android:resizeable="false"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />
<!--    android:requiresSmallestWidthDp="768"-->
<!--    android:compatibleWidthLimitDp="integer"-->
<!--    android:largestWidthLimitDp="integer"-->


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/APP_NAME"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:remove="android:appComponentFactory"
        tools:targetApi="p"
        >

        <meta-data
            android:name="com.android.graphics.developerdriver.enable"
            android:value="true" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!-- Google Play Game Services -->        
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.games.APP_ID"-->
<!--            android:value="@string/app_id" />-->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.version"-->
<!--			android:value="@integer/google_play_services_version" />-->

        <meta-data
            android:name="android.supports_size_changes" android:value="true" />

        <activity
            android:name="cc.openframeworks.android.OFActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden"
            android:label="@string/APP_NAME"
            android:preferMinimalPostProcessing="true"
            android:maxAspectRatio="2.4"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:exported="true"
            tools:targetApi="r">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>