// OpenFrameworks root path, relative to this project path.
// This needs to be defined before CoreOF.xcconfig is included
OF_PATH = ../../..

// OpenFrameworks Core headers and libs
#include "../../../libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

// Project settings. Changes here will recompile OF Core
CLANG_CXX_LANGUAGE_STANDARD = c++23
CLANG_C_LANGUAGE_STANDARD = c17
MACOSX_DEPLOYMENT_TARGET = 10.15

// App Settings - overridden if changed in Xcode UI
PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_NAME[config=Debug] = $(TARGET_NAME)Debug
PRODUCT_BUNDLE_IDENTIFIER = cc.openFrameworks.${TARGET_NAME:rfc1034identifier}
DEVELOPMENT_LANGUAGE = English
CODE_SIGN_IDENTITY = -
INFOPLIST_FILE = openFrameworks-Info.plist
GENERATE_INFOPLIST_FILE = YES

// set application category to games, this is required to enable Game mode
// note: this sets the initial value in the Xcode UI
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.games

// Versioning 
// this is "Version" in the Xcode target Identity UI
// suggested to use semantic versioning format ala #.#.#
MARKETING_VERSION = 0.1.0

// this is "Build" in the Xcode target Identity UI, an incremental build number
// important for the App Store as new build submissions need a diff number even
// if MARKETING_VERSION is the same
CURRENT_PROJECT_VERSION = 1

// If users upgrade project to recommended settings it enables script sandboxing which breaks our post build script 
ENABLE_USER_SCRIPT_SANDBOXING=NO

// Icons - default oF app icon
ICON_NAME = of.icns
ICON_NAME[config=Debug] = of_debug.icns
ICON_FILE = $(OF_PATH)/libs/openFrameworksCompiled/project/osx/$(ICON_NAME)

// Icons - custom app icon, placed in main project folder
//ICON_NAME = MyApp.icns
//ICON_FILE = $(ICON_NAME)

// custom app icon with separate Release and Debug versions placed in bin/data
//ICON_NAME = icon.icns
//ICON_NAME[config=Debug] = icon-debug.icns
//ICON_FILE = bin/data/$(ICON_NAME)

// App Store, uncomment next lines to bundle data folder and code sign
//OF_CODESIGN = 1
//OF_BUNDLE_DATA_FOLDER = 1
//OF_BUNDLE_DYLIBS = 1

// Optional include to keep any permanent settings as CODE_SIGN_IDENTITY. 
#include? "App.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS=$(inherited) $(USER_PREPROCESSOR_DEFINITIONS)

OTHER_CFLAGS = $(OF_CORE_CFLAGS)
OTHER_LDFLAGS = $(OF_CORE_LIBS) $(OF_CORE_FRAMEWORKS)
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS)

OF_CORE_BUILD_COMMAND = xcodebuild -project $OF_PATH/libs/openFrameworksCompiled/project/osx/openFrameworksLib.xcodeproj -target openFrameworks -configuration ${CONFIGURATION} CLANG_CXX_LANGUAGE_STANDARD=$CLANG_CXX_LANGUAGE_STANDARD MACOSX_DEPLOYMENT_TARGET=$MACOSX_DEPLOYMENT_TARGET GCC_PREPROCESSOR_DEFINITIONS=$USER_PREPROCESSOR_DEFINITIONS
