!ofAddons.h
!.project
!ofx3DModelLoader
!ofxAccelerometer
!ofxDirList
!ofxiPhone
!ofxMultiTouch
!ofxNetwork
!ofxOpenCv
!ofxOsc
!ofxThread
!ofxVectorGraphics
!ofxVectorMath
!ofxXmlSettings
!ofxAndroid
ofxAndroid/ofAndroidLib/bin
ofxAndroid/ofAndroidLib/gen
!ofxAssimpModelLoader
!ofxGui
!ofxSvg

# don't ignore the .gitignore file
!.gitignore
