HEADER_OF = "$(OF_PATH)/libs/openFrameworks/**"
HEADER_OFXIOS = "$(OF_PATH)/addons/ofxiOS/**"
HEADER_OFXMULTITOUCH = "$(OF_PATH)/addons/ofxMultiTouch/**"
HEADER_OFXACCELEROMETER = "$(OF_PATH)/addons/ofxAccelerometer/**"
HEADER_FREETYPE = "$(OF_PATH)/libs/freetype/include"
HEADER_FREETYPE2 = "$(OF_PATH)/libs/freetype/include/freetype2"
HEADER_POCO = "$(OF_PATH)/libs/poco/include"
HEADER_FMODEX = "$(OF_PATH)/libs/fmodex/include"
HEADER_GLEW = "$(OF_PATH)/libs/glew/include"
HEADER_FREEIMAGE = "$(OF_PATH)/libs/FreeImage/include"
HEADER_TESS2 = "$(OF_PATH)/libs/tess2/include"
HEADER_RTAUDIO = "$(OF_PATH)/libs/rtaudio/include"
HEADER_SSL = "$(OF_PATH)/libs/openssl/include"
HEADER_BOOST = "$(OF_PATH)/libs/boost/include"
HEADER_UTF8 = "$(OF_PATH)/libs/utf8/include"
HEADER_JSON = "$(OF_PATH)/libs/json/include"
HEADER_GLM = "$(OF_PATH)/libs/glm/include"
HEADER_CURL = "$(OF_PATH)/libs/curl/include"
HEADER_URIPARSER = "$(OF_PATH)/libs/uriparser/include"
HEADER_PUGIXML = "$(OF_PATH)/libs/pugixml/include"

//------- Libraries
LIB_FREEIMAGE = "$(OF_PATH)/libs/FreeImage/lib/tvos/freeimage.a"
LIB_FREETYPE = "$(OF_PATH)/libs/freetype/lib/tvos/freetype.a"
LIB_TESS = "$(OF_PATH)/libs/tess2/lib/tvos/tess2.a"
LIB_OPENSSL_1 = "$(OF_PATH)/libs/openssl/lib/tvos/ssl.a"
LIB_OPENSSL_2 = "$(OF_PATH)/libs/openssl/lib/tvos/crypto.a"
LIB_OPENSSL = $(LIB_OPENSSL_1) $(LIB_OPENSSL_2)
LIB_POCO_0 = "$(OF_PATH)/libs/poco/lib/tvos/PocoCrypto.a"
LIB_POCO_3 = "$(OF_PATH)/libs/poco/lib/tvos/PocoJSON.a"
LIB_POCO_4 = "$(OF_PATH)/libs/poco/lib/tvos/PocoUtil.a"
LIB_POCO_5 = "$(OF_PATH)/libs/poco/lib/tvos/PocoXML.a"
LIB_POCO_6 = "$(OF_PATH)/libs/poco/lib/tvos/PocoNet.a"
LIB_POCO_7 = "$(OF_PATH)/libs/poco/lib/tvos/PocoNetSSL.a"
LIB_POCO_8 = "$(OF_PATH)/libs/poco/lib/tvos/PocoZip.a"
LIB_POCO_9 = "$(OF_PATH)/libs/poco/lib/tvos/PocoFoundation.a"
LIB_POCO = $(LIB_POCO_0) $(LIB_POCO_1) $(LIB_POCO_2) $(LIB_POCO_3) $(LIB_POCO_4) $(LIB_POCO_5) $(LIB_POCO_6) $(LIB_POCO_7) $(LIB_POCO_8) $(LIB_POCO_9)
LIB_BOOST_SYSTEM = "$(OF_PATH)/libs/boost/lib/tvos/boost_system.a"
LIB_BOOST_FS = "$(OF_PATH)/libs/boost/lib/tvos/boost_filesystem.a"
LIB_BOOST = $(LIB_BOOST_SYSTEM) $(LIB_BOOST_FS)
LIB_CURL = "$(OF_PATH)/libs/curl/lib/tvos/curl.a"
LIB_URIPARSER = "$(OF_PATH)/libs/uriparser/tvos/ios/uriparser.a"
LIB_PUGIXML = "$(OF_PATH)/libs/pugixml/lib/tvos/pugixml.a"


MISC_FLAGS = "-ObjC"

COMMON_OF_CORE_LIBS = $(MISC_FLAGS) $(LIB_BOOST) $(LIB_FREEIMAGE) $(LIB_FREETYPE) $(LIB_OPENSSL) $(LIB_TESS)

NET_OF_CORE_LIBS0 = $(LIB_CURL) $(LIB_URIPARSER)
NET_OF_CORE_LIBS1 = $(LIB_POCO) $(LIB_OPENSSL1) $(LIB_OPENSSL2)
NET_OF_CORE_LIBS = $(NET_OF_CORE_LIBS0)

XML_OF_CORE_LIBS0 = $(LIB_PUGIXML)
XML_OF_CORE_LIBS1 =
XML_OF_CORE_LIBS = $(XML_OF_CORE_LIBS0)

OF_CORE_LIBS = $(COMMON_OF_CORE_LIBS) $(NET_OF_CORE_LIBS$(OF_USE_POCO)) $(XML_OF_CORE_LIBS$(OF_USE_POCO))


COMMON_OF_CORE_HEADERS = $(HEADER_OF) $(HEADER_OFXIOS) $(HEADER_OFXACCELEROMETER) $(HEADER_BOOST) $(HEADER_UTF8) $(HEADER_FREETYPE) $(HEADER_FREETYPE2) $(HEADER_FMODEX) $(HEADER_GLEW) $(HEADER_FREEIMAGE) $(HEADER_TESS2) $(HEADER_RTAUDIO) $(HEADER_JSON) $(HEADER_GLM)

NET_OF_CORE_HEADERS0 = $(HEADER_CURL) $(HEADER_URIPARSER)
NET_OF_CORE_HEADERS1 = $(HEADER_POCO) $(HEADER_SSL)
NET_OF_CORE_HEADERS = $(NET_OF_CORE_HEADERS0)

XML_OF_CORE_HEADERS0 = $(HEADER_PUGIXML)
XML_OF_CORE_HEADERS1 =
XML_OF_CORE_HEADERS = $(XML_OF_CORE_HEADERS0)

OF_CORE_HEADERS = $(COMMON_OF_CORE_HEADERS) $(NET_OF_CORE_HEADERS$(OF_USE_POCO)) $(XML_OF_CORE_HEADERS$(OF_USE_POCO))


NET_OF_CORE_CFLAGS0 = -DOF_USE_POCO=0
NET_OF_CORE_CFLAGS1 = -DOF_USE_POCO=1
NET_OF_CORE_CFLAGS = $(NET_CORE_CFLAGS0)

OF_CORE_CFLAGS = $(NET_OF_CORE_CFLAGS$(OF_USE_POCO))


NET_OF_CORE_FRAMEWORKS0 = -framework Security
NET_OF_CORE_FRAMEWORKS1 =
NET_OF_CORE_FRAMEWORKS = $(NET_CORE_FRAMEWORKS0)

OF_CORE_FRAMEWORKS = $(NET_OF_CORE_FRAMEWORKS$(OF_USE_POCO))

// once all libraries are compiled for libc++ / all architectures
CLANG_CXX_LIBRARY = libc++
CLANG_CXX_LANGUAGE_STANDARD = c++11
