HEADER_OF = "$(OF_PATH)/libs/openFrameworks/**"
HEADER_OFXIOS = "$(OF_PATH)/addons/ofxiOS/**"
HEADER_OFXMULTITOUCH = "$(OF_PATH)/addons/ofxMultiTouch/**"
HEADER_OFXACCELEROMETER = "$(OF_PATH)/addons/ofxAccelerometer/**"
HEADER_FREETYPE = "$(OF_PATH)/libs/freetype/include"
HEADER_FREETYPE2 = "$(OF_PATH)/libs/freetype/include/freetype2"
HEADER_POCO = "$(OF_PATH)/libs/poco/include"
HEADER_FMODEX = "$(OF_PATH)/libs/fmodex/include"
HEADER_GLEW = "$(OF_PATH)/libs/glew/include"
HEADER_FREEIMAGE = "$(OF_PATH)/libs/FreeImage/include"
HEADER_TESS2 = "$(OF_PATH)/libs/tess2/include"
HEADER_RTAUDIO = "$(OF_PATH)/libs/rtaudio/include"
HEADER_SSL = "$(OF_PATH)/libs/openssl/include"
HEADER_BOOST = "$(OF_PATH)/libs/boost/include"
HEADER_UTF8 = "$(OF_PATH)/libs/utf8cpp/include"
HEADER_JSON = "$(OF_PATH)/libs/json/include"
HEADER_GLM = "$(OF_PATH)/libs/glm/include"

//------- Libraries
LIB_FREEIMAGE = "$(OF_PATH)/libs/FreeImage/lib/tvos/freeimage.a"
LIB_FREETYPE = "$(OF_PATH)/libs/freetype/lib/tvos/freetype.a"
LIB_TESS = "$(OF_PATH)/libs/tess2/lib/tvos/tess2.a"
LIB_OPENSSL_1 = "$(OF_PATH)/libs/openssl/lib/tvos/ssl.a"
LIB_OPENSSL_2 = "$(OF_PATH)/libs/openssl/lib/tvos/crypto.a"
LIB_OPENSSL = $(LIB_OPENSSL_1) $(LIB_OPENSSL_2)
LIB_POCO_0 = "$(OF_PATH)/libs/poco/lib/tvos/PocoCrypto.a"
LIB_POCO_1 = "$(OF_PATH)/libs/poco/lib/tvos/PocoData.a"
LIB_POCO_2 = "$(OF_PATH)/libs/poco/lib/tvos/PocoDataSQLite.a"
LIB_POCO_3 = "$(OF_PATH)/libs/poco/lib/tvos/PocoJSON.a"
LIB_POCO_4 = "$(OF_PATH)/libs/poco/lib/tvos/PocoUtil.a"
LIB_POCO_5 = "$(OF_PATH)/libs/poco/lib/tvos/PocoXML.a"
LIB_POCO_6 = "$(OF_PATH)/libs/poco/lib/tvos/PocoNet.a"
LIB_POCO_7 = "$(OF_PATH)/libs/poco/lib/tvos/PocoNetSSL.a"
LIB_POCO_8 = "$(OF_PATH)/libs/poco/lib/tvos/PocoZip.a"
LIB_POCO_9 = "$(OF_PATH)/libs/poco/lib/tvos/PocoFoundation.a"
LIB_POCO = $(LIB_POCO_0) $(LIB_POCO_1) $(LIB_POCO_2) $(LIB_POCO_3) $(LIB_POCO_4) $(LIB_POCO_5) $(LIB_POCO_6) $(LIB_POCO_7) $(LIB_POCO_8) $(LIB_POCO_9)
LIB_BOOST_SYSTEM = "$(OF_PATH)/libs/boost/lib/tvos/boost_system.a"
LIB_BOOST_FS = "$(OF_PATH)/libs/boost/lib/tvos/boost_filesystem.a"
LIB_BOOST = $(LIB_BOOST_SYSTEM) $(LIB_BOOST_FS)


MISC_FLAGS = "-ObjC"

OF_CORE_LIBS = $(MISC_FLAGS) $(LIB_POCO) $(LIB_BOOST) $(LIB_FREEIMAGE) $(LIB_FREETYPE) $(LIB_OPENSSL) $(LIB_TESS)
OF_CORE_HEADERS = $(HEADER_OF) $(HEADER_OFXIOS) $(HEADER_OFXMULTITOUCH) $(HEADER_OFXACCELEROMETER) $(HEADER_POCO) $(HEADER_BOOST) $(HEADER_UTF8) $(HEADER_FREETYPE) $(HEADER_FREETYPE2) $(HEADER_FMODEX) $(HEADER_GLEW) $(HEADER_FREEIMAGE) $(HEADER_TESS2) $(HEADER_RTAUDIO) $(HEADER_SSL) $(HEADER_JSON) $(HEADER_GLM)
 
// once all libraries are compiled for libc++ / all architectures
CLANG_CXX_LIBRARY = libc++
CLANG_CXX_LANGUAGE_STANDARD = c++11
