//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ../../../..

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "CoreOF.xcconfig"

OTHER_LDFLAGS = $(OF_CORE_LIBS)
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS)

CONFIGURATION_BUILD_DIR = $(SRCROOT)/bin/
DEAD_CODE_STRIPPING = YES
GCC_AUTO_VECTORIZATION = YES
ENABLE_BITCODE = YES
