*/.metadata
android/*/test link
android/*/bin
android/*/obj
android/*/gen
android/*/local.properties
android/*/.settings
android/*/.externalToolBuilders
android/*/res/raw
libOFAndroidApp.so
libOFAndroidApp_neon.so
gdbserver
gdb.setup
libneondetection.so
Application.mk
Android.mk
*/*/bin/*
!*/*/bin/data/

#xcode files
/*/*/*.xcodeproj
/*/*/Project.xcconfig
/*/*/openFrameworks-Info.plist
/*/*/ofxiphone-Info.plist
/*/*/iPhone_Prefix.pch
/*/*/*/*/Default.png
/*/*/*/*/Icon.png

#codeblocks files
/*/*/*.layout
/*/*/*.depend
/*/*/bin/clickToLaunch*
/*/*/bin/libs
/*/*/obj
/*/*/*.cbp
/*/*/*.workspace

#vs files
/*/*/*.sln
/*/*/*.vcxproj
/*/*/*.vcxproj.user

# linux
/*/*/Makefile
/*/*/config.make

#eclipse
/*/*/.cproject
/*/*/.project
/*/*/.settings

#Android
/*/*/test link
/*/*/obj
!/android/*/.cproject
!/android/*/.project
!/android/*/.settings
