!examples
!examples/**
!addonsExamples
!addonsExamples/**
!iPhoneExamples
!iPhoneExamples/**
!androidExamples
!androidExamples/**
!androidExamples/*/**
androidExamples/.metadata
androidExamples/*/Debug
androidExamples/*/Release
androidExamples/*/bin
libOFAndroidApp.so
