!examples
!examples/**
!addonsExamples
!addonsExamples/**
!iPhoneExamples
!iPhoneExamples/**
!androidExamples
!androidExamples/**
!androidExamples/*/**
*/.metadata
androidExamples/*/Debug
androidExamples/*/Release
androidExamples/*/Release_arm7
androidExamples/*/test link
androidExamples/*/bin
androidExamples/*/obj
androidExamples/*/gen
androidExamples/*/local.properties
androidExamples/*/.settings
androidExamples/*/.externalToolBuilders
libOFAndroidApp.so
libOFAndroidApp_neon.so
*/*/.*project
!androidExamples/*/.*project
