#include "Shared.xcconfig"

ARCHS = $(NATIVE_ARCH)
COPY_PHASE_STRIP = NO
GCC_ENABLE_SSE3_EXTENSIONS = YES
GCC_ENABLE_SUPPLEMENTAL_SSE3_INSTRUCTIONS = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_MODEL_TUNING = G5
GCC_SYMBOLS_PRIVATE_EXTERN = NO
OTHER_CPLUSPLUSFLAGS = -D__MACOSX_CORE__ -lpthread
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = NO
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VALUE = NO
GCC_WARN_UNUSED_VARIABLE = NO
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES