<title>openFrameworks</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<script src="http://openframeworks.cc/js/shCore.js" type="text/javascript"></script>
<script src="http://openframeworks.cc/js/shAutoloader.js" type="text/javascript"></script>
<script src="http://openframeworks.cc}/js/shBrushCpp.js" type="text/javascript"></script>
<script src="http://openframeworks.cc/js/shBrushJava.js" type="text/javascript"></script>
<script src="http://openframeworks.cc/js/shBrushXml.js" type="text/javascript"></script>
<link href="http://openframeworks.cc/css/shCore.css" rel="stylesheet" type="text/css" />
<link href="http://openframeworks.cc/css/shThemeDefault.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="http://openframeworks.cc/css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="http://openframeworks.cc/css/print.css" media="print" />
<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<link rel="search" type="application/opensearchdescription+xml" href="http://openframeworks.cc/opensearch.xml" title="openFrameworks" />

<link rel="shortcut icon" href="http://openframeworks.cc/favicon.ico" />
<link rel="icon" href="http://openframeworks.cc/favicon.ico" type="image/x-icon" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://openframeworks.cc/js/jquery.timeago.js" type="text/javascript"></script>

<meta name="google-site-verification" content="RiGtl9pFuFnUeEQ4MU1miiutTR5mmCPUi38YLCn-M-g" />
