<h1>Nightly builds</h1>
<p>Here you can find a daily build of the develop branch of openFrameworks. This downloads can be unstable, if you want the latest stable release look in the <a href="http://openframeworks.cc/download">downloads page</a></p>

<h2>Latest Nightly</h2>
<a href="versions/nightly/of_latest_linux_nightly.tar.gz">linux</a><br/>
<a href="versions/nightly/of_latest_linux64_nightly.tar.gz">linux64</a><br/>
<a href="versions/nightly/of_latest_win_cb_nightly.tar.gz">windows codeblocks</a><br/>
<a href="versions/nightly/of_latest_vs2010_nightly.tar.gz">windows vs2010</a><br/>
<a href="versions/nightly/of_latest_osx_nightly.tar.gz">osx</a><br/>
<a href="versions/nightly/of_latest_ios_nightly.tar.gz">iOS</a><br/>
<a href="versions/nightly/of_latest_android_nightly.tar.gz">android</a><br/>

<p>Nightly builds are generated only whenever there's a new commit</p>
