<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.openframeworks.androidEmptyExample"
    android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
<!--android:hasCode="false"-->
        <!--android:name="android.app.NativeActivity"-->
        <activity
            android:name=".OFActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">

            <meta-data android:name="android.app.lib_name"
                       android:value="OFAndroidApp" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
