//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ../../..

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "../../../libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

//UNCOMMENT BELOW TO ENABLE C++ 17 and std::filesystem
CLANG_CXX_LANGUAGE_STANDARD = c++17
MACOSX_DEPLOYMENT_TARGET = 10.15

// BOOST - UNCOMMENT BELOW TO ENABLE BOOST
//HEADER_BOOST = "$(OF_PATH)/libs/boost/include"
//LIB_BOOST_SYSTEM = "$(OF_PATH)/libs/boost/lib/osx/boost_system.a"
//LIB_BOOST_FS = "$(OF_PATH)/libs/boost/lib/osx/boost_filesystem.a"
//OF_CORE_LIBS = $(inherited) $(LIB_BOOST_FS) $(LIB_BOOST_SYSTEM)
//OF_CORE_HEADERS = $(inherited) $(HEADER_BOOST)

//ICONS - NEW IN 0072 
ICON_NAME = icon.icns
ICON_NAME[config=Debug] = icon-debug.icns
ICON_FILE = $(OF_PATH)/libs/openFrameworksCompiled/project/osx/$(ICON_NAME)

//IF YOU WANT AN APP TO HAVE A CUSTOM ICON - PUT THEM IN YOUR DATA FOLDER AND CHANGE ICON_FILE_PATH to:
//ICON_FILE_PATH = bin/data/

OTHER_CFLAGS = $(OF_CORE_CFLAGS)
OTHER_LDFLAGS = $(OF_CORE_LIBS) $(OF_CORE_FRAMEWORKS)
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS)

//COMPILER SETTINGS WHICH CAN BE OVERRIDDEN BY XCODE BUILD SETTINGS
CLANG_ENABLE_OBJC_WEAK = YES
CODE_SIGN_IDENTITY = -
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = NO
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = NO
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VALUE = NO
GCC_WARN_UNUSED_VARIABLE = NO
GCC_NO_COMMON_BLOCKS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = NO

DEAD_CODE_STRIPPING = YES
GCC_AUTO_VECTORIZATION = YES
GCC_ENABLE_SSE3_EXTENSIONS = YES
GCC_ENABLE_SUPPLEMENTAL_SSE3_INSTRUCTIONS = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
ONLY_ACTIVE_ARCH = YES	
OTHER_CODE_SIGN_FLAGS = --deep
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_MODEL_TUNING = NONE
COMBINE_HIDPI_IMAGES = YES
INFOPLIST_FILE = openFrameworks-Info.plist
INSTALL_PATH = /Applications
SDKROOT = macosx
WRAPPER_EXTENSION = app
CONFIGURATION_BUILD_DIR = $(SRCROOT)/bin/

